.grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
  align-items: start;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .resumo {
    position: static !important;
    order: -1;
  }
}
